
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Noto+Sans+Tirhuta&family=Salsa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 226);
}

#head{
    width: 100%;
    height: 80px;
    background-color:beige;
    display: flex;
    align-items: center;
    column-gap: 500px;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 200;
}



#left{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

#left img{
    height:90px;
}
#left p{
    font-size: 2rem;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}


#choices{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    list-style: none;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    
}
#choices a{
    text-decoration: none;
}

#current-page{
    color: rgb(249, 249, 249);
    font-weight: bold;
    position: relative;
   
}

#choices a:visited{
    color: black;
}

#current-page::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: rgb(185, 98, 98);
    
    transition: width 0.3s ease; /* Ajout d'une transition pour une animation fluide */
}

#current-page:hover:after {
    width: 100%;
}

#image-container{
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px auto;
}

#image1{
    width: 100%;
    height: 400px;
    min-width: 450px;
}

#image-container p{
    position: absolute;
    font-size: 3.3rem;
    color: rgb(0, 0, 0);
    left: 3%;
    bottom: 10%;
}

#bottom{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#bottom #left{
    display: flex;
    flex-direction: column;
    height: 40px;
    row-gap: 20px;
    width: 100%;
    text-align: center;
}

#bottom #left p{
    font-size: 1.15rem;
    width: 90%;
}

#bottom #left input{
    padding: 10px 40px;
    border-radius:1000px;
    border: 1px solid rgb(104, 94, 94);
    background-color: rgb(231, 236, 175);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(6, 5, 5, 0.7);
}

#bottom #left input:hover{
    background-color: bisque;
}

#bottom #left input:active{
    background-color: rgb(232, 211, 180);
}

#bottom #right img{
height: 60px;
width: 100%; /* La largeur de l'image est définie à 100% de la largeur du conteneur parent */
height: auto; /* La hauteur est automatiquement ajustée pour maintenir les proportions de l'image */
display: block;
margin: 0 auto;
min-width: 100px;

}
#bottom #right{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

#bottom #right img {
    height: 180px;
    width: 170px;
    transition: transform 0.3s ease-in-out;
}

#bottom #right img:hover{
   transform: scale(1.1);
}


@media all and (max-width :800px) {
  
    #image-container p{
        font-size: 2.5rem;
    }

   #bottom{
    width: 30%;
    column-gap: 10px;
   }

   #bottom #right img{
    width: 50%;
   }

   #bottom #left p{
    font-size: 1.15rem;
    width: 20%;
}

}

@media all and (max-width :1200px) {
    #bottom #left p{
        font-size: 1rem;
        width: 377px;
    }
  #bottom{
    width: 60%;
  }

  #head{
    flex-direction: column;
    height: 120px;
  }
  #choices a{
    font-size: 1rem;
  }
  
}
